div.cl-discuss {
  padding: 0 $padding;
  border-bottom: 1px solid #ccc;
  position: relative;

  >h4 {
    margin: 0.25em 0 0 0;

    span.time {
      float: right;
      font-size: 12px;
      font-weight: normal;
      text-align: right;
      padding: 0 5px 0 0;
    }

    span.cl-endorse {
      font-weight: normal;
      font-size: 0.8em;
      float: none;
      text-align: left;
    }
  }

  form {
    margin-top: 1em;

    input {
      width: 8em;
    }
  }
}