/*
 * Discussions area
 */

div.cl-discussions {
  border-bottom: 1px solid black;

  >h3 {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #18453B;
    color: white;
    font-weight: normal;
    font-size: 13px;
  }

  >p {
    text-align: center;
    font-size: 0.85em;
    font-style: italic;
    color: $discussing;
  }
}