/**
 * @file
 * Right side div that presents the interaction.
 */

div.cl-interaction-presenter {
  position: relative;
  margin-left: 270px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 0 0.1em 0;

  div.cl-options {
    display: flex;
    flex-direction: row;
    margin: 1em 10px;

    > div {
      padding: 0 30px 0 0;

      label {
        display: block;
      }
    }
  }

  p.cl-summary {
    label {
      font-style: italic;
    }

    input {
      font-style: normal;
    }
  }

  p.cl-welcome {
    margin: 0;
    padding: 2em 5em;
    font-size: 1.2em;
  }
}

