div.cl-interact {
  position: relative;
  margin: 0 auto;
  border: 1px solid black;
  width: 100%;
  max-width: 1000px;
  min-width: 600px;
  box-sizing: border-box;

  div.cl-history {
    text-align: right;
    font-size: 0.75em;
    font-style: italic;
  }

  div.cl-menu {
    float: right;

    img {
      vertical-align: top;
    }
  }

  div.cl-interact-body {
    position: relative;
    top: 0;
    min-height: 600px;
  }

  p.closed {
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    color: #880088;
    border-bottom: 1px solid black;
    padding: 0.5em 0;
    margin: 0;
  }

  p.inter-active {
    background-color: #f15e32;
    text-align: center;
    margin: 0;
    color: white; // #b7e6f8;
    font-size: 0.8em;
  }
}

p.cl-interact-link {
  text-align: right;
}


.cl-interact .discuss {
  border-bottom: 1px solid black;
}

.cl-interact .discuss .good {
  font-weight: normal;
  font-size: 0.8em;
  float: none;
  text-align: left;
}

.cl-interact .summary {
  width: 50%;
}

.cl-interact .edits {
  font-size: 0.8em;
  font-style: italic;
  color: #888;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
}

