/*
 * Interactions area (left)
 */

div.cl-interactions {
  position: absolute;
  width: 270px;
  background-color: white;
  border-right: 1px solid black;
  padding: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;

  /*
   * A single Interaction summary in the collection of interactions
   */
  div.cl-interact-summary {
    position: relative;
    border-bottom: 1px solid black;
    height: 85px;
    padding: 5px 5px;
    overflow: hidden;
    background-color: white;
    cursor: pointer;

    h3 {
      font-size: 12px;
      margin: 0;
      padding: 0;
    }

    img {
      float: left;
      padding-right: 3px;
    }

    .link {
      font-size: 10px;
    }

    .link span {
      float: right;
      font-size: 10px;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 11px;
    }

    p.cl-attribution {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 0 0 5px;
      font-size: 10px;
      font-style: italic;
      overflow: hidden;
      background-color: inherit;
      width: 100%;
    }
  }

  // More link at end of list of interactions
  div.cl-more {
    margin: 0;
    font-size: 12px;
    text-align: center;
    font-style: italic;
  }


  .noresponse {
    background-color: $noresponse;
  }

  .noresponse.selected {
    background-color: $noresponseselected;
  }

  div.cl-interact-summary.cl-selected {
    background-color: $selected;
  }
}
