$bannerbackground: #18453B;
$discussing: red;

$selected-top: #0f8c00;
$selected-bot: #13af00;

$pending: #ffeded;
$resolved: white;
$closed: #e0e0e0;
$answered: #edfdff;

$pending-escalated: #ff7a7a;
